@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

$body-font-family: 'Montserrat', sans-serif;
$heading-font-family: 'Montserrat', sans-serif;

$spacer: 1.5rem;

@import 'vuetify/styles/settings.scss';
